@using MantoxWebApp.Models
@model V_Usuarios
@{
    //Se valida si se va a editar un usuario, en ese caso, se almacena el usuario en un
    //objeto de tipo V_Usarios con el llenar con estos datos el formulario de edición
    V_Usuarios vu = new V_Usuarios();

    if (ViewBag.Accion == "Editar")
    {
        vu = (V_Usuarios)ViewData["UsuarioActual"];
    }

    //Se asigna la plantilla de la vista actual
    Layout = "~/Views/Shared/_PlantillaMantox.cshtml";
}

@section EstilosEncabezado {

    @*Añadimos estilos propios de esta página*@
    @Styles.Render("~/adminLte/css/select2/")

    <!-- Validate js tooltip style -->
    @Styles.Render("~/adminLte/css/ValidateJsTooltips/")

}

@using (Html.BeginForm("Crear", "Usuario", FormMethod.Post, new { @id = "formulario_crear_usuario" }))
{
    //La variable HiddenFor se usa para cargar los datos en el formulario cuando se está editando un registro exitente
    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    <!-- Nuevo layout -->

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre)
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Apellido)
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Contrasena, "Contraseña")
                @Html.PasswordFor(model => model.Contrasena, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Contrasena, "Contraseña de nuevo")
                @Html.PasswordFor(model => model.Contrasena, new { @id = "Contrasena2", @class = "form-control", @Name = "Contrasena2" })
            </div>
            <!-- /.form-group -->
        </div>
        <div class="col-md-6  col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Id_Rol, "Rol de Usuario")
                @Html.DropDownList("Id_Rol", (MultiSelectList)ViewBag.Roles, "--Sin asignar--", new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.Id_Rol, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Estado, "Estado inicial")
                @Html.DropDownList("Id_Estado", (MultiSelectList)ViewBag.Estados, "--Sin asignar--", new { @class = "form -control select2" })
                @Html.ValidationMessageFor(model => model.Id_Estado, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                <label>Empresa</label>
                @Html.DropDownList("Id_Empresa", (MultiSelectList)ViewBag.Empresas, new { @class = "form-control select2 col-sm-12" })
            </div>
            <!-- /.form-group -->

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div id="divResultadoSedes">
                        <div class="form-group">
                            <label>Sede</label>
                            <select class="select2 form-control nivel2" id="Id_Sede" name="Id_Sede" title="Seleccione una empresa para mostrar las sedes en este campo"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div id="divResultadoEdificios">
                        <div class="form-group">
                            <label>Edificio</label>
                            <select class="select2 form-control nivel2 nivel3" id="Id_Edificio" name="Id_Edificio" title="Seleccione una sede para mostrar los edificios en este campo"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div id="divResultadoPisos">
                        <div class="form-group">
                            <label>Piso</label>
                            <select class="select2 form-control nivel2 nivel3 nivel4" id="Piso" name="Piso" title="Seleccione un edificio para mostrar los pisos en este campo"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div id="divResultadoAreas">
                        <div class="form-group">
                            <label>Área específica</label>
                            <select class="select2 form-control nivel2 nivel3 nivel4 nivel5" id="Id_Area" name="Id_Area" title="Seleccione un piso para mostrar las &aacute;reas en este campo">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /.col -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                <input type="submit" value="@ViewBag.Titulo" class="btn btn-primary" />
            </div>
        </div>
    </div>

        <!-- /Fin nuevo layout -->

}


@section ScriptsPieDePagina {

    <!-- Select2 -->
    @Scripts.Render("~/adminLte/js/select2/")

    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>

    <!-- Ajax -->
    @Scripts.Render("~/adminLte/js/msAjax/")

    <script type="text/javascript">

        $(document).ready(function () {
            var accion = "@ViewBag.Accion";

            if (accion == "Crear") {
                //Eliminar selección predeterminada de empresa
                $('#Id_Empresa').val([]);
            } else {
                //Asignar selección predeterminada de empresa
                $('#Id_Empresa').val([@vu.Id_Empresa]);
            }

            //Carga asincrónica de las sedes al seleccionar la empresa
            $("#Id_Empresa").change(function () {
                var idEmpresa = $("#Id_Empresa").val();
                cargarSedes(idEmpresa);
            });

            function cargarSedes(idEmpresa) {
                $('.nivel2').empty();
                $("#divResultadoSedes").html(animacionCargaDeSelect);
                $("#divResultadoSedes").load('@(Url.Action("FiltrarSedes", "Sede", null, Request.Url.Scheme))?idEmpresa=' + idEmpresa);
            }

            if (accion == "Editar") {

                cargarSedes(@vu.Id_Empresa);

                setTimeout(function () {

                    $('#Id_Sede').val([@vu.Id_Sede]).change();

                    setTimeout(function () {

                        $('#Id_Edificio').val([@vu.Id_Edificio]).change();

                        setTimeout(function () {

                            $('#Piso').val([@vu.Piso]).change();

                            setTimeout(function () {

                                $('#Id_Area').val([@vu.Id_Area]).change();

                            }, 50);

                        }, 50);

                    }, 50);

                }, 50);
            }

        });
    </script>

    <!-- Validate .js-->
    @Scripts.Render("~/adminLte/js/validate/")

    <script>
        $().ready(function () {
            // validate signup form on keyup and submit

            $("#formulario_crear_usuario").validate({
                errorPlacement: ValidatorErrorPlacement,
                success: ValidatorSuccess,
                rules: {
                    Nombre: "required",
                    Apellido: "required",
                    Email: {
                        required: true,
                        email: true
                    },
                    Contrasena: {
                        required: true,
                        minlength: 10
                    },
                    Contrasena2: {
                        required: true,
                        equalTo: "#Contrasena",
                        minlength: 10
                    },
                    Id_Rol: {
                        required: true
                    },
                    Id_Estado: {
                        required: true,
                        min: 1
                    },
                    Id_Area: {
                        required: true,
                        min: 2
                    },
                    Id_Empresa: {
                        required: true,
                        min: 2
                    },
                    Id_Sede: {
                        required: true,
                        min: 2
                    },
                    Id_Edificio: {
                        required: true,
                        min: 2
                    },
                    Piso: {
                        required: true
                    },
                    Id_Area: {
                        required: true,
                        min: 2
                    }
                }
            });
        });
    </script>
}