@model MantoxWebApp.Models.Edificio


@{
    Layout = "~/Views/Shared/_PlantillaMantox.cshtml";
}

@section EstilosEncabezado {

    @Styles.Render("~/adminLte/css/select2/")

}

@using (Html.BeginForm("Create", "Edificio", FormMethod.Post, new { @id = "formulario_crear_edificio" }))
{

    @Html.AntiForgeryToken()

    <!-- Nuevo layout -->

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Empresa</label>
                @Html.DropDownList("Id_Empresa", (MultiSelectList)ViewBag.Empresas, "", new { @class = "form-control select2 col-sm-12" })
            </div>
            <!-- /.form-group -->

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div id="divResultadoSedes"></div>
                </div>
                <div class="col-md-6 col-sm-1">
                    <div id="divResultadoEdificios"></div>
                </div>
            </div>
            <!-- /row -->

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Estado, "Estado")
                @Html.DropDownList("Id_Estado", (MultiSelectList)ViewBag.Estados, "--Sin asignar--", new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.Id_Estado, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div id="divResultadoSedes"></div>
                </div>
                @*<div class="col-md-6 col-sm-1" style="display:none; visibility:hidden">
        <div id="divResultadoEdificios"></div>
    </div>*@
            </div>
            <!-- /row -->

            @*<div class="row">
                <div class="col-md-6 col-sm-1">
                    <div id="divResultadoPisos"></div>
                </div>
                <div class="col-md-6 col-sm-1">
                    <div id="divResultadoAreas"></div>
                </div>
            </div>*@

            <!-- /row -->
        </div>
        <!-- /.col -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                <input type="submit" value="@ViewBag.Titulo" class="btn btn-primary" />
            </div>
        </div>
    </div>

        <!-- /Fin nuevo layout -->

}


<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section ScriptsPieDePagina {


    <!-- Select2 -->
    @Scripts.Render("~/adminLte/js/select2/")

    <script>
      $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
      });
    </script>

    <!-- Ajax -->
    @Scripts.Render("~/adminLte/js/msAjax/")

    <script type="text/javascript">

        $(document).ready(function () {
            //Eliminar selección predeterminada de empresa
            $('#Id_Empresa').val([]);

            //Carga asincrónica de las sedes al seleccionar la empresa
            $("#Id_Empresa").change(function () {
                $('.nivel2').empty();
                var idEmpresa = $("#Id_Empresa").val();
                $("#divResultadoSedes").load('@(Url.Action("FiltrarSedes", "Sede", null, Request.Url.Scheme))?idEmpresa=' + idEmpresa);
            });

        });
    </script>

    <!-- Validate .js-->
    @Scripts.Render("~/adminLte/js/validate/")

    <script>
	    $().ready(function() {
	    // validate signup form on keyup and submit

	        $("#formulario_crear_edificio").validate({
		        rules: {

                Nombre: "required",
                Piso: "required",

                Id_Edificio: {
                    required: true,
                    min: 2 //min:1 o min:2 valor minimo de la opción seleccionada <option value="1">Texto de la opcipon </option>
                },
                Id_Estado: {
                    required: true,
                    min: 1
                },
		        }
		    });
	    });
    </script>
}