@model MantoxWebApp.Models.Estado

@{
    Layout = "~/Views/Shared/_PlantillaMantox.cshtml";
}

@section EstilosEncabezado {

    @Styles.Render("~/adminLte/css/select2/")

}

@using (Html.BeginForm("Create", "Estado", FormMethod.Post, new { @id = "formulario_crear_Estado" }))
{

    @Html.AntiForgeryToken()

    <!-- Nuevo layout -->

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">

                    @Html.LabelFor(model => model.Nombre,"Estado")
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- /.form-group -->


            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div id="divResultadoSedes"></div>
                </div>
                <div class="col-md-6 col-sm-1">
                    <div id="divResultadoEdificios"></div>
                </div>
            </div>
            <!-- /row -->

            <div class="row">
                <div class="col-md-6 col-sm-1">
                    <div id="divResultadoPisos"></div>
                </div>
                <div class="col-md-6 col-sm-1">
                    <div id="divResultadoAreas"></div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /.col -->
    
        <!-- /.row -->
    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                <input type="submit" value="@ViewBag.Titulo" class="btn btn-primary" />
            </div>
        </div>
    </div>

        <!-- /Fin nuevo layout -->

}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section ScriptsPieDePagina {


    <!-- Select2 -->
    @Scripts.Render("~/adminLte/js/select2/")

    <script>
      $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
      });
    </script>

    <!-- Validate .js-->
    @Scripts.Render("~/adminLte/js/validate/")

    <script>
	    $().ready(function() {
	    // validate signup form on keyup and submit

	        $("#formulario_crear_Estado").validate({
		        rules: {

                Nombre: "required",

		        }
		    });
	    });
    </script>
}
