@model IEnumerable<MantoxWebApp.Models.Movimiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PlantillaMantox.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Equipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Area_Origen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Area_Destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Razon_Movimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Equipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Area_Origen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Area_Destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Razon_Movimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
