@using MantoxWebApp.Models
@model V_Sedes
@{
    //Se valida si se va a editar un area, en ese caso, se almacena el area en un
    //objeto de tipo V_Areas con el llenar con estos datos el formulario de edición
    V_Sedes vs = new V_Sedes();

    if (ViewBag.Accion == "Editar")
    {
        vs = (V_Sedes)ViewData["AreaActual"];
    }

    //Se asigna la plantilla de la vista actual
    Layout = "~/Views/Shared/_PlantillaMantox.cshtml";
}

@section EstilosEncabezado {

    @*Añadimos estilos propios de esta página*@
    @Styles.Render("~/adminLte/css/select2/")

}

@using (Html.BeginForm("Crear", "Sede", FormMethod.Post, new { @id = "formulario_crear_sede" }))
{
    //La variable HiddenFor se usa para cargar los datos en el formulario cuando se está editando un registro exitente
    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    <!-- Nuevo layout -->

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, "Nombre")
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
            <!-- /.form-group -->


            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Id_Empresa, "Empresa")
                    @Html.DropDownList("Id_Empresa", (MultiSelectList)ViewBag.Empresas, new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.Id_Empresa, "", new { @class = "text-danger" })
                </div>
            </div>
                <!-- /.form-group -->

                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Id_Pais, "Pais")
                        @Html.DropDownList("Id_Pais", (MultiSelectList)ViewBag.Paises, "--Sin asignar--", new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.Id_Pais, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!-- /.form-group -->


                <div class="col-md-6 col-sm-6">
                    <div id="divResultadoDepartamentos">
                        <div class="form-group">
                            <label>Departamento</label>
                            <select class="select2 form-control nivel2" id="Id_Departamento" name="Id_Departamento" title="Seleccione un pais para mostrar los departamentos en este campo"></select>
                        </div>
                    </div>
                </div>

        <div class="col-md-6 col-sm-6">
            <div id="divResultadoCiudades">
                <div class="form-group">
                    <label>Ciudad</label>
                    <select class="select2 form-control nivel2 nivel3" id="Id_Ciudad" name="Id_Ciudad" title="Seleccione un departamento para mostrar las ciudades en este campo"></select>
                </div>
            </div>
        </div>

            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Id_Estado, "Estado")
                    @Html.DropDownList("Id_Estado", (MultiSelectList)ViewBag.Estados, "--Sin asignar--", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.Id_Estado, "", new { @class = "text-danger" })
                </div>
            </div>
                <!-- /.form-group -->
                <!-- /row -->
            </div>
        <!-- /.row -->
        <div class="row">
            <div class="form-group">
                <div class="col-md-4">
                    <input type="submit" value="@ViewBag.Titulo" class="btn btn-primary" />
                </div>
            </div>
        </div>

        <!-- /Fin nuevo layout -->
        }


@section ScriptsPieDePagina {


    <!-- Select2 -->
    @Scripts.Render("~/adminLte/js/select2/")

    <script>
      $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
      });
    </script>

    <!-- Ajax -->
@Scripts.Render("~/adminLte/js/msAjax/")

<script type="text/javascript">

    $(document).ready(function () {
        var accion = "@ViewBag.Accion";

        if (accion == "Crear") {
            //Eliminar selección predeterminada
            $('#Id_Pais').val([]);
        } else {
            //Asignar selección predeterminada
            $('#Id_Pais').val([@vs.Id_Pais]);
        }

        //Carga asincrónica de los departamentos al seleccionar la pais
        $("#Id_Pais").change(function () {
            var idPais = $("#Id_Pais").val();
            cargarDepartamentos(idPais);
        });

        function cargarDepartamentos(idPais) {
            $('.nivel2').empty();
            $("#divResultadoDepartamentos").html(animacionCargaDeSelect);
            $("#divResultadoDepartamentos").load('@(Url.Action("FiltrarDepartamentos", "Departamento", null, Request.Url.Scheme))?idPais=' + idPais);
        }

      if (accion == "Editar") {

                cargarDepartamento(@vs.Id_Pais);

                setTimeout(function () {

                    $('#Id_Departamento').val([@vs.Id_Departamento]).change();

                    setTimeout(function () {

                        $('#Id_Ciudad').val([@vs.Id_Ciudad]).change();

                    }, 50);

                }, 50);

            }

        });
</script>



    <!-- Validate .js-->
    @Scripts.Render("~/adminLte/js/validate/")

    <script>
	    $().ready(function() {
	    // validate signup form on keyup and submit

	        $("#formulario_crear_sede").validate({
		        rules: {

		            Nombre: "required",
		            Id_Empresa: {
		                required: true,
		                min: 1 //min:1 o min:2 valor minimo de la opción seleccionada <option value="1">Texto de la opcipon </option>
		            },

		            Id_Pais: {
		                required: true,
		                min: 1 
		            },

		            Id_Departamento: {
		                required: true,
		                min: 1
		            },

		            Id_Ciudad: {
		                required: true,
		                min: 1
		            },

		            Id_Estado: {
		                required: true,
		                min: 1 
		            },
		        }
		    });
	    });
    </script>
}


