@using MantoxWebApp.Models
@model MantoxWebApp.Models.V_Equipos
@{
    //Se valida si se va a editar un area, en ese caso, se almacena el equipo en un
    //objeto de tipo V_Equipos con el llenar con estos datos el formulario de edición
    V_Equipos ve = new V_Equipos();

    if (ViewBag.Accion == "Editar")
    {
        ve = (V_Equipos)ViewData["EquipoActual"];
    }

    //Se asigna la plantilla de la vista actual
    Layout = "~/Views/Shared/_PlantillaMantox.cshtml";
}

@section EstilosEncabezado {

    @*Añadimos estilos propios de esta página*@
    @Styles.Render("~/adminLte/css/select2/")

    <!-- Date picker -->
    @Styles.Render("~/adminLte/css/Datepicker/")

    <!-- Validate js tooltip style -->
    @Styles.Render("~/adminLte/css/ValidateJsTooltips/")

}

@using (Html.BeginForm("Crear", "Equipo", FormMethod.Post, new { @id = "formulario_crear_equipo" }))
{

    //La variable HiddenFor se usa para cargar los datos en el formulario cuando se está editando un registro exitente
    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    <!-- Nuevo layout -->

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre_de_Equipo, "Nombre del equipo")
                @Html.EditorFor(model => model.Nombre_de_Equipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_de_Equipo, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Activo)
                @Html.EditorFor(model => model.Activo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Serial)
                @Html.EditorFor(model => model.Serial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Serial, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Ip, "Dirección IPv4")
                @Html.EditorFor(model => model.Ip, new { htmlAttributes = new { @class = "form-control", @placeholder = "000.000.000.000" } })
                @Html.ValidationMessageFor(model => model.Ip, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Modelo, "Modelo")
                @Html.DropDownList("Id_Modelo", (MultiSelectList)ViewBag.Modelos, "--Sin asignar--", new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.Id_Modelo, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Sistema_Operativo, "Sistema operativo")
                @Html.DropDownList("Id_Sistema_Operativo", (MultiSelectList)ViewBag.SistemasOperativos, "--Sin asignar--", new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.Id_Sistema_Operativo, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Version_Office, "Versión de Office Instalada")
                @Html.DropDownList("Id_Version_Office", (MultiSelectList)ViewBag.VersionesOffice, "--Sin asignar--", new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.Id_Version_Office, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Estado, "Estado")
                @Html.DropDownList("Id_Estado", (MultiSelectList)ViewBag.Estados, "--Sin asignar--", new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.Id_Estado, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->


        </div>
        <!-- /.col -->
        <div class="col-md-6 col-sm-6">

            <div class="form-group">
                <label>Empresa</label>
                @Html.DropDownList("Id_Empresa", (MultiSelectList)ViewBag.Empresas, new { @class = "form-control select2 col-sm-12" })
            </div>
            <!-- /.form-group -->

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div id="divResultadoSedes">
                        <div class="form-group">
                            <label>Sede</label>
                            <select class="select2 form-control nivel2" id="Id_Sede" name="Id_Sede" title="Seleccione una empresa para mostrar las sedes en este campo"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div id="divResultadoEdificios">
                        <div class="form-group">
                            <label>Edificio</label>
                            <select class="select2 form-control nivel2 nivel3" id="Id_Edificio" name="Id_Edificio" title="Seleccione una sede para mostrar los edificios en este campo"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div id="divResultadoPisos">
                        <div class="form-group">
                            <label>Piso</label>
                            <select class="select2 form-control nivel2 nivel3 nivel4" id="Piso" name="Piso" title="Seleccione un edificio para mostrar los pisos en este campo"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div id="divResultadoAreas">
                        <div class="form-group">
                            <label>Área específica</label>
                            <select class="select2 form-control nivel2 nivel3 nivel4 nivel5" id="Id_Area" name="Id_Area" title="Seleccione un piso para mostrar las &aacute;reas en este campo"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->

            <div class="form-group">
                <div id="divResultadoResponsables">
                    <div class="form-group">
                        <label>Responsable</label>
                        <select class="select2 form-control nivel2" id="Id_Responsable" name="Id_Responsable" title="Seleccione una empresa para mostrar los usuarios responsables en este campo"></select>
                    </div>
                </div>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <!-- /.form-group -->

                    <div class="form-group">
                        @Html.LabelFor(model => model.Fecha_de_Ingreso, "Fecha ingreso")
                        @Html.EditorFor(model => model.Fecha_de_Ingreso, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.Fecha_de_Ingreso, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="col-sm-6 col-md-6">
                    <!-- /.form-group -->

                    <div class="form-group">
                        @Html.LabelFor(model => model.Meses_de_Garantia, "Meses de garantía")
                        @Html.EditorFor(model => model.Meses_de_Garantia, new { htmlAttributes = new { @class = "form-control ", @type = "number", @id= "Meses_Garantia", @name= "Meses_Garantia" } })
                        @Html.ValidationMessageFor(model => model.Meses_de_Garantia, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <!-- /row-->

            <!-- /.form-group -->

            <div class="form-group">
                <div id="divResultadoPropietarios">
                    <div class="form-group">
                        <label>Propietario</label>
                        <select class="select2 form-control nivel2" id="Id_Propietario" name="Id_Propietario" title="Seleccione una empresa para mostrar los propietarios en este campo"></select>
                    </div>
                </div>
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Comentario)
                @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

        </div>
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                <input type="submit" value="@ViewBag.Titulo" class="btn btn-primary" />
            </div>
        </div>
    </div>

        <!-- /Fin nuevo layout -->

}


@section ScriptsPieDePagina {

    <!-- Inicio datepicker -->
    <!-- Data picker -->
    @Scripts.Render("~/adminLte/js/Datepicker/")

    <!-- Input Mask -->
    @Scripts.Render("~/adminLte/js/JQueryInputMask/")
    <!-- /Input Mask-->

    <script>
        $(function () {

            //Date picker
            $('#Fecha_de_Ingreso').datepicker({
                                autoclose: true
            });

            //Date picker
            $('#Fecha_Fin_de_Garantia').datepicker({
                                autoclose: true
            });

                            });
    </script>

    <!-- Select2 -->
    @Scripts.Render("~/adminLte/js/select2/")

    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
                            });
    </script>

    <!-- Ajax -->
    @Scripts.Render("~/adminLte/js/msAjax/")

    <script type="text/javascript">

        $(document).ready(function () {
            //Eliminar selección predeterminada de empresa
            $('#Id_Empresa').val([]);

            //Carga asincrónica de las sedes al seleccionar la empresa
            $("#Id_Empresa").change(function () {
                $('.nivel2').empty();
                                    var idEmpresa = $("#Id_Empresa").val();

                $("#divResultadoSedes").html(animacionCargaDeSelect);
                $("#divResultadoSedes").load('@(Url.Action("FiltrarSedes", "Sede", null, Request.Url.Scheme))?idEmpresa=' + idEmpresa);

                $("#divResultadoResponsables").html(animacionCargaDeSelect);
                $("#divResultadoResponsables").load('@(Url.Action("FiltrarResponsables", "Usuario", null, Request.Url.Scheme))?idEmpresa=' + idEmpresa);

                $("#divResultadoPropietarios").html(animacionCargaDeSelect);
                $("#divResultadoPropietarios").load('@(Url.Action("FiltrarPropietarios", "Propietario", null, Request.Url.Scheme))?idEmpresa=' + idEmpresa);

                                });

                            });
    </script>


    <!-- Validate .js-->
    @Scripts.Render("~/adminLte/js/validate/")

    <!-- Input Mask -->
    @Scripts.Render("~/adminLte/js/InputMask/")

    <!-- IPMask -->
    @*@Scripts.Render("~/adminLte/js/IPMask/")*@

    <script>
        $('#Ip').mask('XZZ.XZZ.XZZ.XZZ', {
            translation: {
                'X': {
                    pattern: /[0-2]/
                },
                'Z': {
                    pattern: /[0-9]/
                }

            }
        });
    </script>

    <script>
        $(document).ready(function () {

            // initialize validate plugin on the form
            $('#formulario_crear_equipo').validate({
                errorPlacement: ValidatorErrorPlacement,
                success: ValidatorSuccess,
                rules: {
                    Activo: {
                        required: true,
                        minlength: 4
                    },
                    Serial: {
                        required: true,
                        minlength: 5
                    },
                    Nombre_de_Equipo: {
                        required: true,
                        host: true
                    },
                    Ip: {
                        required: true,
                        IPv4: true,
                        minlength: 15,
                        maxlength: 15
                    },
                    Fecha_Ingreso: {
                        required: true,
                        date: true
                    },
                    Meses_Garantia: {
                        required: true,
                        min: 0,
                        number: true
                    },
                    Id_Modelo: {
                        required: true,
                        min: 2
                    },
                    Id_Sistema_Operativo: {
                        required: true,
                        min: 1
                    },
                    Id_Version_Office: {
                        required: true,
                        min: 1
                    },
                    Id_Estado: {
                        required: true,
                        min: 1
                    },
                    Id_Responsable: {
                        required: true,
                        min: 1
                    },
                    Id_Empresa: {
                        required: true,
                        min: 1
                    },
                    Id_Sede: {
                        required: true,
                        min: 1
                    },
                    Id_Edificio: {
                        required: true,
                        min: 1
                    },
                    Piso: {
                        required: true,
                        number: true
                    },
                    Id_Area: {
                        required: true,
                        min: 1
                    },
                    Id_Responsable: {
                        required: true,
                        min: 1
                    },
                    Id_Propietario: {
                        required: true,
                        min: 1
                    }
                }
            });

        });


    </script>
}

