@model MantoxWebApp.Models.Equipo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PlantillaMantox.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Equipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Equipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Fin_Garantia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Fin_Garantia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Responsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Responsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Sistema_Operativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Sistema_Operativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Propietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Propietario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Version_Office)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Version_Office)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
