@model MantoxWebApp.Models.Mantenimiento

@{
    Layout = "~/Views/Shared/_PlantillaMantox.cshtml";
}

@section EstilosEncabezado {

    @Styles.Render("~/adminLte/css/select2/")

}

@using (Html.BeginForm("Crear", "Mantenimiento", FormMethod.Post, new { @id = "formulario_crear_mantenimiento" }))
{

    @Html.AntiForgeryToken()

    <!-- Nuevo layout -->

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Id_Equipo, "Equipo")
                @Html.DropDownList("Id_Equipo", (MultiSelectList)ViewBag.Equipos, new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.Id_Equipo, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Usuario, "Usuario")
                @Html.DropDownList("Id_Usuario", (MultiSelectList)ViewBag.Usuarios, new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.Id_Usuario, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Tipo_Mantenimiento, "Tipo de mantenimiento")
                @Html.DropDownList("Id_Tipo_Mantenimiento", (MultiSelectList)ViewBag.Mantenimientos, new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.Id_Tipo_Mantenimiento, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Piezas_Instaladas, "Piezas instaladas")
                @Html.EditorFor(model => model.Piezas_Instaladas, new { htmlAttributes = new { @class = "form-control select2" } })
                @Html.ValidationMessageFor(model => model.Piezas_Instaladas, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Piezas_Retiradas, "Piezas retiradas")
                @Html.EditorFor(model => model.Piezas_Retiradas, new { htmlAttributes = new { @class = "form-control select2" } })
                @Html.ValidationMessageFor(model => model.Piezas_Retiradas, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                @Html.LabelFor(model => model.Observaciones, "Observaciones")
                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
            </div>
            <!-- /.form-group -->


            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div id="divResultadoSedes"></div>
                </div>
                <div class="col-md-6 col-sm-1">
                    <div id="divResultadoEdificios"></div>
                </div>
            </div>
            <!-- /row -->

            <div class="row">
                <div class="col-md-6 col-sm-1">
                    <div id="divResultadoPisos"></div>
                </div>
                <div class="col-md-6 col-sm-1">
                    <div id="divResultadoAreas"></div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /.col -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                <input type="submit" value="@ViewBag.Titulo" class="btn btn-primary" />
            </div>
        </div>
    </div>

        <!-- /Fin nuevo layout -->

}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>


@section ScriptsPieDePagina {


    <!-- Select2 -->
    @Scripts.Render("~/adminLte/js/select2/")

    <script>
      $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
      });
    </script>

    <!-- Validate .js-->
    @Scripts.Render("~/adminLte/js/validate/")

    <script>
	    $().ready(function() {
	    // validate signup form on keyup and submit

	        $("#formulario_crear_mantenimiento").validate({
		        rules: {

		            Id_Equipo: {
		                required: true,
		                min: 1 //min:1 o min:2 valor minimo de la opción seleccionada <option value="1">Texto de la opcipon </option>
		            },

		            Id_Usuario: {
		                required: true,
		                min: 1 //min:1 o min:2 valor minimo de la opción seleccionada <option value="1">Texto de la opcipon </option>
		            },

		            Id_Tipo_Mantenimiento: {
		                required: true,
		                min: 1 //min:1 o min:2 valor minimo de la opción seleccionada <option value="1">Texto de la opcipon </option>
		            },

		            Piezas_Instaladas: "required",
		            Piezas_Retiradas: "required",
		            Observaciones: "required",
		        }
		    });
	    });
    </script>
}
